/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
    font-family: 'Droid Serif', serif;
    background-color: white;
}
h1 { 
  font-size: 175%;
  margin: 25px;
}
.row {
  width: 100%;
  margin: 0px 10px 10px 0px;
}

#header-nav{
  color: black;
  background-color: lightskyblue;
  border-radius: 0;
  border: 1px solid black;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#collapsable-menu-nav {
  margin: 0%
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  background-color: lightgoldenrodyellow
}
#nav-list a:hover {
  background: #E7E7E7; 
}
.navbar-header button.navbar-toggle {
  border: 1px solid gray;
}
.sushi {
  background-color: deepskyblue;
  color: black;
  min-height: 1000px;
}
.menu-category {
  font-size: 125%;
  width:100%;
  border: 0;
  text-align: center;
  padding:10px;
  margin: 0px
}
.menu-items {
  padding: 10px;
}  